h1{
    background-color: black;
    color:white;
}

body {
    font-weight:750;
    background-color: #05072b;
    color:white;
}
.navbar-expand-lg {
    color:red;
    margin-left: 75%;
    font-size:x-large;
    background-image: none;
    background-color:#05072b !important;
    border-color: red;
    border-width: 50px;
}


h2{
    margin-left: 100px;
    padding-top: 30px;
}

.mypic{
    float:left;
    flex-wrap: wrap;
    height:300px;
    width:400px;
    padding:25px;
    padding-top: 5px;
    border-radius: 10px;
    border:5px;

}
    @media (max-width:780px){
    .navbar-expand-lg {margin-right: 80%;}



    }