body{
    background-color: #05072b;

}
.navbar-expand-lg {
    font-size: large;
    background-image: none;
    background-color: #05072b!important;
    padding-bottom: 20px;
    font-weight: bold;
    color:red;
}
.navbar-nav{
text-align: end;


}
.form-group{
    padding-right: 30%;
    padding-left: 30%;
    color:white;
}
.btn{
    margin-left: 30%;
}
.navbar-nav {
    margin-left:75%;
}

