body{
    background-color: #303030;
}
.navbar-expand-lg {
    font-size: large;
    background-image: none;
    background-color: #303030 !important;
    font-weight:bold;
}

.navbar-nav {
    margin-left:75%;
}

.col-sm-6 {
    column-width: 200px;
    padding-top: 20px;
    
}
img{
    max-height:250px;
    max-width:250px;
}